.container-button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.card-title {
  display: block;
  width: 224px;
  max-width: 204px;
  white-space: break-spaces;
  overflow-wrap: break-word;
  padding: 10px;
  font-size: medium;
  font-weight: bold;
  border: 2px;
  border-radius: 8px;
  color: #b6c2cf;
  font-family: sans-serif;
  background-color: #22272b;
  margin: 10px;
}

#move-card-to-list {
  border-radius: 8px;
  background-color: #22272b;
  color: #b6c2cf;
  cursor: pointer;
}
