.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000000a3;
  z-index: 10;
}

.modalElement {
  position: fixed;
  top: 5%;
  left: 31.7%;
  width: 500px;
  min-height: 400px;
  z-index: 100;
  background-color: #22272b;
  border-radius: 12px;
}

.modalHeader {
  border-radius: 12px;
  background-color: #22272b;
  padding: 20px;
  white-space: break-spaces;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 0.663);
  font-size: xx-large;
  font-weight: bold;
  font-family: sans-serif;
}
